<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class ="form-box"> 
          <div class="form-value">
            <div id="loginform">

              <h3>Login</h3>
              <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" id="login-email" required placeholder="email">
              </div>
              <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="login-password" required placeholder="password">
              </div>
              <div class="forget">
              </div>
              <button onclick="login()">Log In</button>
              <div class="register">
                <p>Don't Have a account <a href="./signup.html">Register</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      

      
    
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script type="module" src="firebase.js"></script>
  <script src="index.js"></script>

</body>
</html>